.ariaRadio:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  color: var(--token-PzW89oCxzQRg);
  font-family: var(--token-Gk9IXoNVx4GA);
  font-size: var(--token-4xqkmEkuMR38);
  line-height: var(--token-eJFKkHiL_gMn);
  width: 100%;
  column-gap: var(--token-AqL1PdEosQPC);
  min-width: 0;
}
.ariaRadio[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}
.freeBox__klKtv {
  display: flex;
  position: relative;
  width: var(--token-i8E8tVGCjjLy);
  height: var(--token-i8E8tVGCjjLy);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 99px;
  border: 2px solid var(--token-WVPsvwQ4BHpp);
}
.ariaRadio[data-selected] .freeBox__klKtv {
  background: var(--token-9pEdE10ct6H1);
  border-color: var(--token-9pEdE10ct6H1);
}
.ariaRadio[data-focus-visible] .freeBox__klKtv {
  outline-offset: 1px;
  outline-style: solid;
  outline-color: var(--token-9pEdE10ct6H1);
  outline-width: 2px;
}
.freeBox__q6YCx {
  position: relative;
  background: #ffffff;
  display: none;
  border-radius: 99px;
}
.ariaRadio[data-selected] .freeBox__q6YCx {
  width: var(--token-tLKi8vsyleip);
  height: var(--token-tLKi8vsyleip);
  flex-shrink: 0;
  display: block;
}
