.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-9pEdE10ct6H1);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-AqL1PdEosQPC);
  font-family: var(--token-Gk9IXoNVx4GA);
  font-size: var(--token-4xqkmEkuMR38);
  line-height: var(--token-eJFKkHiL_gMn);
  outline-style: none;
  text-decoration-line: none;
  border-radius: var(--token-tLKi8vsyleip);
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible][data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-iFwF4bFo74V0);
  outline-offset: 1px;
  outline-color: var(--token-9pEdE10ct6H1);
}
.root[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-GJ4LQy8T_-rG);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-1sgJl9jWdL_3);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-OsqqYvCRYBXc);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-SDSDT5tR9joq);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-eMOC6PYJVmcD);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-o23wqR5LQoPE);
  font-size: var(--token-4Z-XReqfXeZf);
  column-gap: var(--token-iFwF4bFo74V0);
  row-gap: 0px;
  border-radius: var(--token-hMjcVlLhqwvD);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-4Z-XReqfXeZf);
  line-height: var(--token-o23wqR5LQoPE);
  column-gap: var(--token-hMjcVlLhqwvD);
  row-gap: 0px;
  border-radius: var(--token-hMjcVlLhqwvD);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-GJXFXYwWv2po);
  line-height: var(--token-sRYhoS6UWvzu);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-GJXFXYwWv2po);
  line-height: var(--token-sRYhoS6UWvzu);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-eISL8Lhn5V-g);
  border-radius: var(--token-tLKi8vsyleip);
}
.softBackgroundcolor_neutral {
  background: var(--token-HnsjPq9kKmk6);
}
.softBackgroundcolor_muted {
  background: var(--token-phtl0SBdYlfv);
}
.softBackgroundcolor_success {
  background: var(--token-ima1q9TKSUL1);
}
.softBackgroundcolor_warning {
  background: var(--token-H4tLr1bNbMDa);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-hCOXMDRZLvcl);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-tLKi8vsyleip);
  border: 0px solid var(--token-y8B5QHnM2U-2);
}
.bordercolor_neutral {
  border-color: var(--token-FwDni2CeuiQi);
}
.bordercolor_muted {
  border-color: var(--token-CC36nGVfnzX9);
}
.bordercolor_success {
  border-color: var(--token-I75HCqMIsPYt);
}
.bordercolor_warning {
  border-color: var(--token-2D3cmQj-iKuw);
}
.bordercolor_errorDestructive {
  border-color: var(--token-Xt7EyXBimIVF);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-tLKi8vsyleip);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-UelY3D84F3nF);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-4CvD9AM6Jfzg);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-EEOMXJDfuzhB);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox__mhzhv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-tLKi8vsyleip);
  min-width: 0;
  min-height: 0;
  padding: var(--token-tLKi8vsyleip) var(--token-py6KtQVyZ8Y-);
}
.freeBoxsize_extraSmall__mhzhv6Gp0X {
  padding: var(--token-hMjcVlLhqwvD) var(--token-tLKi8vsyleip);
}
.freeBoxsize_small__mhzhvp75Dy {
  padding: var(--token-tLKi8vsyleip) var(--token-AqL1PdEosQPC);
}
.freeBoxsize_large__mhzhvEApSk {
  padding-top: var(--token-hMjcVlLhqwvD);
  padding-bottom: var(--token-hMjcVlLhqwvD);
}
.freeBoxsize_extraLarge__mhzhv4Or3 {
  padding-left: var(--token-cLYbkC7YeqID);
  padding-right: var(--token-cLYbkC7YeqID);
}
.freeBoxroundedFull__mhzhvCEPj {
  padding-right: var(--token-cLYbkC7YeqID);
  padding-left: var(--token-cLYbkC7YeqID);
}
.freeBox__tY8U {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__tY8UjsrGo {
  display: flex;
}
.slotTargetStart {
  color: var(--token-t1k7PlOuYBfX);
}
.slotTargetStartcolor_neutral {
  color: var(--token-VlSxjrFuJSAB);
}
.slotTargetStartcolor_muted {
  color: var(--token-d5BJcTbo4NTG);
}
.slotTargetStartcolor_success {
  color: var(--token-89bbxl3y6TuQ);
}
.slotTargetStartcolor_warning {
  color: var(--token-8Hj644v9rXck);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-9IwL1ZpqY6Ck);
}
.slotTargetStarttype_soft {
  color: var(--token-XkTJUuvtQScF);
}
.slotTargetStarttype_bordered {
  color: var(--token-XkTJUuvtQScF);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-4Z-XReqfXeZf);
}
.slotTargetStartsize_small {
  font-size: var(--token-4Z-XReqfXeZf);
}
.slotTargetStartsize_large {
  font-size: var(--token-GJXFXYwWv2po);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-GJXFXYwWv2po);
}
.slotTargetStartcolor_neutral_type_soft {
  color: var(--token-8uyKXuUVyD55);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-8uyKXuUVyD55);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-VpVI8CMELWN6);
}
.slotTargetStarttype_bordered_color_muted {
  color: var(--token-VpVI8CMELWN6);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-tPjKx-Dzn-ZT);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-tPjKx-Dzn-ZT);
}
.slotTargetStartcolor_warning_type_soft {
  color: var(--token-BuFMg1dy_Xcw);
}
.slotTargetStartcolor_warning_type_bordered {
  color: var(--token-BuFMg1dy_Xcw);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-nIFZJNErWTai);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-nIFZJNErWTai);
}
.svg__cymT {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-t1k7PlOuYBfX);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-VlSxjrFuJSAB);
}
.slotTargetLabelcolor_muted {
  color: var(--token-d5BJcTbo4NTG);
}
.slotTargetLabelcolor_success {
  color: var(--token-89bbxl3y6TuQ);
}
.slotTargetLabelcolor_warning {
  color: var(--token-8Hj644v9rXck);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-9IwL1ZpqY6Ck);
}
.slotTargetLabeltype_soft {
  color: var(--token-XkTJUuvtQScF);
}
.slotTargetLabeltype_bordered {
  color: var(--token-XkTJUuvtQScF);
}
.slotTargetLabelcolor_neutral_type_soft {
  color: var(--token-8uyKXuUVyD55);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-VpVI8CMELWN6);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-8uyKXuUVyD55);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-tPjKx-Dzn-ZT);
}
.slotTargetLabeltype_bordered_color_muted {
  color: var(--token-VpVI8CMELWN6);
}
.slotTargetLabelcolor_warning_type_soft {
  color: var(--token-BuFMg1dy_Xcw);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-tPjKx-Dzn-ZT);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-nIFZJNErWTai);
}
.slotTargetLabelcolor_warning_type_bordered {
  color: var(--token-BuFMg1dy_Xcw);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-nIFZJNErWTai);
}
.text__fqT0F {
  white-space: pre;
}
.freeBox__z99Wy {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__z99WyJLsUa {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-t1k7PlOuYBfX);
}
.slotTargetEndcolor_neutral {
  color: var(--token-VlSxjrFuJSAB);
}
.slotTargetEndcolor_muted {
  color: var(--token-d5BJcTbo4NTG);
}
.slotTargetEndcolor_success {
  color: var(--token-89bbxl3y6TuQ);
}
.slotTargetEndcolor_warning {
  color: var(--token-8Hj644v9rXck);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-9IwL1ZpqY6Ck);
}
.slotTargetEndtype_soft {
  color: var(--token-XkTJUuvtQScF);
}
.slotTargetEndtype_bordered {
  color: var(--token-XkTJUuvtQScF);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-4Z-XReqfXeZf);
}
.slotTargetEndsize_small {
  font-size: var(--token-4Z-XReqfXeZf);
}
.slotTargetEndsize_large {
  font-size: var(--token-GJXFXYwWv2po);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-GJXFXYwWv2po);
}
.slotTargetEndcolor_neutral_type_soft {
  color: var(--token-8uyKXuUVyD55);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-8uyKXuUVyD55);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-VpVI8CMELWN6);
}
.slotTargetEndtype_bordered_color_muted {
  color: var(--token-VpVI8CMELWN6);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-tPjKx-Dzn-ZT);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-tPjKx-Dzn-ZT);
}
.slotTargetEndcolor_warning_type_soft {
  color: var(--token-BuFMg1dy_Xcw);
}
.slotTargetEndcolor_warning_type_bordered {
  color: var(--token-BuFMg1dy_Xcw);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-nIFZJNErWTai);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-nIFZJNErWTai);
}
.svg__lmG5Q {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
