.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-BkrMTCZh7Do6);
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  height: var(--token-i8E8tVGCjjLy);
  width: var(--token-i8E8tVGCjjLy);
  border-radius: 99px;
  border: 1px solid var(--token-9pEdE10ct6H1);
}
.root[data-hovered][data-hovered]:global(.__wab_instance) {
  border-width: 2px;
}
.root[data-focus-visible][data-focus-visible]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-9pEdE10ct6H1);
  outline-offset: 1px;
}
