.root:global(.__wab_instance) {
  position: relative;
  color: var(--token-PzW89oCxzQRg);
  font-family: var(--token-Gk9IXoNVx4GA);
  font-size: var(--token-4xqkmEkuMR38);
  line-height: var(--token-eJFKkHiL_gMn);
}
.freeBox {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: var(--token-hMjcVlLhqwvD);
}
.slotTargetChildrensize_sm {
  font-size: var(--token-4Z-XReqfXeZf);
  line-height: var(--token-o23wqR5LQoPE);
}
.slotTargetChildrensize_lg {
  font-size: var(--token-GJXFXYwWv2po);
  line-height: var(--token-sRYhoS6UWvzu);
}
.text {
  position: relative;
  display: none;
}
.textrequirementIndicator_optional {
  color: var(--token-QHYhuer61FOa);
  display: block;
}
.textrequirementIndicator_required {
  color: var(--token-eMOC6PYJVmcD);
  display: block;
}
