.ariaTextArea:global(.__wab_instance) {
  box-sizing: border-box;
  object-fit: cover;
  position: relative;
  box-shadow: inset 0px 0px 0px 1px var(--token-sDkGv7ueFGVn);
  font-size: var(--token-4xqkmEkuMR38);
  line-height: var(--token-eJFKkHiL_gMn);
  width: 100%;
  color: var(--token-PzW89oCxzQRg);
  font-family: var(--token-Gk9IXoNVx4GA);
  min-width: 0;
  border-radius: var(--token-tLKi8vsyleip);
  padding: var(--token-tLKi8vsyleip) var(--token-py6KtQVyZ8Y-);
  border-style: none;
}
.ariaTextArea[data-focused][data-focused]:global(.__wab_instance) {
  outline-width: 2px;
  outline-style: solid;
  outline-color: var(--token-9pEdE10ct6H1);
  outline-offset: 1px;
}
.ariaTextArea[data-disabled][data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.ariaTextAreatype_soft:global(.__wab_instance) {
  background: var(--token-phtl0SBdYlfv);
  box-shadow: none;
}
.ariaTextAreatype_soft[data-hovered][data-hovered]:global(.__wab_instance) {
  background: var(--token-KvXSvADz8t6Q);
}
.ariaTextAreatype_plain:global(.__wab_instance) {
  box-shadow: none;
}
.ariaTextAreatype_plain[data-hovered][data-hovered]:global(.__wab_instance) {
  background: var(--token-phtl0SBdYlfv);
}
.ariaTextAreaflat_top:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.ariaTextAreaflat_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_bottom:global(.__wab_instance) {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.ariaTextAreaflat_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.ariaTextAreapadded_left:global(.__wab_instance) {
  padding-left: var(--token-ZqEwxIjSDs6Z);
}
.ariaTextAreapadded_right:global(.__wab_instance) {
  padding-right: var(--token-ZqEwxIjSDs6Z);
}
